.mat-mdc-row:hover .mat-mdc-cell .customer-table{
   /*border-color: white;*/
   /* border-bottom: 5px #ff6600;
   border-top: 5px #ff6600; */
   color: #0a0a09fd;
   /* color: #ff6600; */
   font-size: large;
 }
 
 
 .mat-mdc-row:hover .mat-mdc-cell{
   /*border-color: white;*/
   /* border-bottom: 5px #ff6600;
   border-top: 5px #ff6600; */
   color: #ff6600;
   /* color: #ff6600; */
   font-size: large;
 }
 
 /*------new end-----*/
 
 .dashboard_trakcer{
    
   margin-top: 10px;
   margin-left:10px;
   margin-right: 5px;
   font-size: 18px;
 }
 
 hr {
    width: 95%;
    height: 1px;
    margin-left: 10px;
    margin-top: 0px;
    background-color:#666;
    
   }
   
   .mat-mdc-option.mat-selected:not(.mat-option-disabled) {
      color: #ffffff !important;
  }
  
  /* Snapshot row start */
 #alarm{
  /*padding-top: 22px;      8px; */
  padding-bottom: 78px; 
  padding-top: 32px;
  font-size: 44px;
  /*padding-bottom: 50px;
  font-size: 46px;*/
 }
  .circle-title2{
    margin-bottom: 15px; 
    text-align: center;
    
    
     }
    .circle-title-heading{
      position:relative; 
      height: 80px; 
      width: 80px;
      margin: 0 auto -40px;
      border-radius: 100%;
      transition: all ease-in-out .3s;
      background:#ff7a01;
      color: #fff;
    } 
    .circle-title-heading .fa{
       line-height: 80px;
    }
    .circle-title-heading .fa.icon{
      font-size: 4em;
      padding-top: 8px;
   }
    .box{
      padding-top: 50px;
      background-color: #222222;
      border: 1px solid #ff7a01;
      border-radius: 5px;
    
   }
 
   .box2{
      padding-top: 50px;
      background-color: #222222;
      border: 1px solid #ff7a01;
      border-radius: 5px;
      height: 140px;
      margin-bottom: 50px;
   }
   .box:hover{
      border-color: #4C4B4B;
      background-color: #4C4B4B;
   }
   .box-heading{
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 18px;
   }
   .text-faded{
      color:rgba(255,255,255,0.7);
   }
   .box-number{
      padding:5px 0 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 2;
     
   }
   .footer{
      display: block;
      padding: 5px;
      color:rgba(255,255,255,0.5);
      transition: all ease-in-out .3s;
   }
   .footer:hover{
      text-decoration: none;
      color:rgba(255,255,255,0.5);
      background-color: rgba(0,0,0,0.2);
   }
   #img-ctn{
      padding-top: 14px;
   }
   
 /* Snapshot row end */
 
 
 
 /* status and energy power status row Starts */
 .panel-heading{
   position: relative;
 
   background-color: #ff7a01;
   
   border: 1px;
   border-radius: 3px;
   text-align: left;
   padding: 5px;
   font-size: 16px;
 }
 .hover-effect{
   border-color: #4C4B4B;
      background-color: #4C4B4B;
 }
 .status-panel-body{
       
       width:100%;
       background-color:black;
       position:relative;
       border-radius:3px; 
       border:1px solid #ff7a01;  
       padding: 10px;
       }  
 
   .chartBorder{
         width: 100%;
 
     
     }
     
    
 /* status and energy power status row End */
 
 
 /* Customer detail table start */
 
 
 .panel-body{
      width:100%;
      border:1px solid #ff7a01;
      padding: 5px;  
 }  
 mat-form-field{
   
   font-size: 14px;
   width: 100%;
 }
 table {
   width: 100%;
   text-align:left;
   border-spacing: 0;
   border-collapse: collapse;
 }
 .mat-mdc-header-cell{
   background-color: black;
   padding: 8px;
   font-size: 16px;
 }
 
 .mat-mdc-cell {
   font-size: 12px;
   border-right: 1px solid #222;
   padding: 10px;
 }
 
 .headerRow{
   background: red;
   padding: 8px;
   text-align: center;
   font-size: 16px;
 }
 .mat-mdc-paginator{
   background: #000000;
 }
 
 th {
   background-color: #000000;
   padding: 8px;
   text-align: center;
 }
 td{    
   padding:8px;
 } 
 
 .mat-mdc-row:nth-child(even){
   background-color: #696969;
 }
 .mat-mdc-row:nth-child(odd){
   background-color: #3F3F3F;
 }
 .mat-mdc-table .mat-mdc-cell:last-child{
   border-bottom: 0;
 }
 /*
 .mat-mdc-table .mat-mdc-cell:first-child{
   margin-top: 2%;
  }*/
 
 /*.mat-mdc-header-row{
   display: none;
 }*/
 
 
 /*tr:nth-child(odd){
   background-color: #666;
 }
 tr:nth-child(even){
   background-color: #222222;
 }*/
 
 /* Customer detail table end */
 
 /* Energy status graph start */
 .heading-panel{
   background:#ff7a01;
   padding:5px;
   text-align: left;
   font-size: 16px;
   border-radius: 3px;
   margin-top: 12px;
   }
 
 .chart-body{
   border:1px solid #ff7a01;
   padding: 10px;
   position: relative;
 }
  
 
 
 /* Energy status graph end */
 
 
 
 .chngpwd-body{
   width:100%;
   border:1px solid #ff7a01;
   padding-top: 15px;
   margin-top: 55px;
   
 }
 
 
 .card-header{
   color: black;
   text-align: left;
   font-size: 18px;
 }
 .oldp{
   margin-top: 10px;
 }
 .chpwd{
   text-align: left;
 }
 .btn-primary {
   background: #E66F00;
   color: #ffffff;
 }
 .btn{
   border: #E66F00;
  
 }
 .chngpwd{
   margin-top: 125px;
 }
 
 
 .charheader2{
   margin: 5px;
   border-top: 1px solid orangered;
   background: orangered;
   padding: 5px;
   border-radius: 5px;
 
 }
 
 
 
 
 
 
                                                 /*  Shahid */
 
 
 
 #breadcrumb{
   position: fixed;
   z-index: 999;
   top: 50px;
   width: 100%;
   background: #222222;
 }
 
 
 
 
 /* Shahid Start for Breadcrum */
 
 *  breadcrump *
 
 .btn-breadcrumb .btn:not(:last-child):after {
     content: " ";
     display: block;
     width: 0;
     height: 0;
     border-top: 17px solid transparent;
     border-bottom: 17px solid transparent;
     border-left: 10px solid #303030;
     position: absolute;
     top: 50%;
     margin-top: -17px;
     left: 100%;
     z-index: 3;
     color: #fff;
   }
   .btn-breadcrumb .btn:not(:last-child):before {
     content: " ";
     display: block;
     width: 0;
     height: 0;
     border-top: 17px solid transparent;
     border-bottom: 17px solid transparent;
     border-left: 10px solid rgb(173, 173, 173);
     position: absolute;
     top: 50%;
     margin-top: -17px;
     margin-left: 1px;
     left: 100%;
     z-index: 3;
   }
 
   .btn-breadcrumb .btn {
     padding:6px 12px 6px 24px;
     background: #303030;
     color: #fff;
   }
   .btn-breadcrumb .btn:first-child {
     padding:6px 6px 6px 10px;
     background: #303030;
     color: #fff;
   }
   .btn-breadcrumb .btn:last-child {
     padding:6px 18px 6px 24px;
     background: #303030;
     color: #fff;
   }
 
   /** Default button **/
   .btn-breadcrumb .btn.btn-default:not(:last-child):after {
     border-left: 10px solid #303030;
   }
 
 
   /* The responsive part */
 
   .btn-breadcrumb > * > div {
       /* With less: .text-overflow(); */
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
   }
 
   .btn-breadcrumb > *:nth-child(n+2) {
     display:none;
   }
 
   .mat-mdc-input-element {
    caret-color: #E66F00 !important;
   }
 
   .mat-mdc-input-element ng-reflect-placeholder {
    color: #E66F00 !important;
   }
   /* === For phones =================================== */
   @media (max-width: 767px) {
       .btn-breadcrumb > *:nth-last-child(-n+2) {
           display:block;
       }
       .btn-breadcrumb > * div {
           max-width: 60px;
       }
   }
 
   /* === For tablets ================================== */
   @media (min-width: 768px) and (max-width:991px) {
       .btn-breadcrumb > *:nth-last-child(-n+4) {
           display:block;
       }
       .btn-breadcrumb > * div {
           max-width: 100px;
       }
       .hide{
          display: none;
       }
   }
 
   /* === For desktops ================================== */
   @media (min-width: 992px) {
       .btn-breadcrumb > *:nth-last-child(-n+6) {
           display:block;
       }
       .btn-breadcrumb > * div {
           max-width: 170px;
       }
   }
 
 /* End for Breadcrum */
 
 
 
 
 
 
 
 
 #page-wrapper {
   width: 100%;
   padding: 110px 25px 110px 25px;
   background: #0F0F0F;
 }

 @media (min-width: 992px) {
  .col-lg-2 {
   flex: 0 0 19.666667%;
   max-width: 19.666667%;
  }
}