.example-container .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  
  #Save-device{
    color: #ffffff;
    background:#E66F00!important;
    margin-left: 15%;
    /* padding: 8px 42px 0px 34px; */
    font-size: 18px;
 }
  .mat-mdc-raised-button {
  box-sizing: border-box;
  position: relative;
  background: #ea8c17d9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
   margin: 0px; 
   margin-left: 159px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0)
}  
 .close{
  top: 0;
  right: 0;
  padding: 10px;
  line-height: 16px;
  min-width: auto;
  color:#E66F00!important;
 
}
.mat-mdc-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    font-size: 15px;
}