.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  #Save-device{
    color: #ffffff;
    background:#E66F00!important;
    margin-left: 7%;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 5px 19px;
 }
 .abc{
  color:white
 }
 p {
  margin-top: 0;
  margin-bottom: -1rem;
}

form button {
  position: relative;
  width: 71px;
  margin-top: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
 /* .mat-raised-button {
  box-sizing: border-box;
  position: relative;
  background: #ea8c17d9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
   margin: 0px; 
   margin-left: 159px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0)
}   */
/* .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    font-size: 15px;
} */
