
.chartBorder{
    margin: 2px;
    border-top: 58px solid orangered;
    border-left: 1px solid orangered;
    border-bottom: 1px solid orangered;
    border-right: 1px solid orangered;
    padding: 15px;
    border-radius: 8px;

}


