<div class="row" id="breadcrumb" >
  <div id="bc2" style="left: 1% !important" class="btn-group btn-breadcrumb">
    <a (click)="home()" *ngIf="super_admin_home" class="btn btn-default"><i class="fa fa-home"></i></a>  
    <a (click)="home()" *ngIf="customer_home" class="btn btn-default"><i class="fa fa-home"></i></a>
    <a (click)="customerPage()" *ngIf="customer_name" class="btn btn-default"><div >Customer Page</div></a>
    <a (click)="sitePage()" *ngIf="site_dash" class="btn btn-default">Site Page</a>
 </div>
</div>
<div  id="page-wrapper" class="container-fluid">

  <!--
 <div *ngIf="isShown">
    <div class="row ">
        <div class="dashboard_trakcer">Change Password</div>
        <hr>
        <!-change password form  
        <div class="mt-6 col-8 offset-2 chngpwd">
            <div class="card">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form #changePassword=ngForm (ngSubmit)="onChangePwd()">
                        <div class="form-group row">

                            <div class="col-sm-10 oldp ">
                                <input type="password" name="old_password" class="form-control"
                                    placeholder="Old Password" required
                                    [(ngModel)]="changePasswordModel.oldpassword" base-sixty-four-input>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-sm-10 newp">
                                <input type="password" name="new_password" class="form-control"
                                    placeholder="New Password" required
                                    [(ngModel)]="changePasswordModel.newpassword">
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-sm-10 confp">
                                <input type="password" name="conf_password" class="form-control"
                                    placeholder="Confirm Password" required
                                    [(ngModel)]="changePasswordModel.confirmpassword">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 chpwd">

                                <button type="submit" class="btn btn-primary "
                                    [disabled]="!changePassword.valid">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
 </div>
 -->

 <div *ngIf="!isShown">
     
 <div class="row">
     <div class="dashboard_trakcer"> Customer Home </div>
     <hr>
             <!-- 1st snapshot start -->
             <div class="col-lg-3 col-sm-6 col-xs-6">
                 <div class="circle-title2">
                     <div class="circle-title-heading">
                         <i class="fa fa-bell fa-fw fa-3x"></i>
                     </div>
                     <div class="box" style="cursor: pointer;" (click)="alarmTable()">
                         <div class="box-heading text-faded">Alarms</div>
 
                         <div class="box-number text-faded">{{Custalarms}}</div>
 
                        <!--  <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                 class="fa fa-chevron-circle-right"></i></a> -->
                     </div>
                 </div>
             </div>
 
 
             <!-- 1st snapshot end -->
 
 
             <!-- 2nd snapshot start -->
             <div class="col-lg-3 col-sm-6 col-xs-6">
                 <div class="circle-title2">
                     <div class="circle-title-heading">
                         <img id="img-ctn" src="assets/image/consume.png" width="45">
                     </div>
                     <div class="box">
                         <div class="box-heading text-faded">Energy Consumed</div>
 
                         <div class="box-number text-faded">{{CustenergyConsumed}} kWh
                              <!-- <span id="sparklineA">in 5 Months</span>   -->
                         </div>
                        
                     <!--     <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                 class="fa fa-chevron-circle-right"></i></a> -->
                     </div>
                 </div>
 
             </div>
 
 
             <!-- 2nd snapshot end -->
 
             <!-- 3rd snapshot start -->
             <div *ngIf="!is_carbon_emission_visible" class="col-lg-3 col-sm-6 col-xs-6">
                 <div class="circle-title2">
                     <div class="circle-title-heading">
                         <img id="img-ctn" src="/assets/image/energy.png" width="45">
                     </div>
                     <div class="box">
                         <div class="box-heading text-faded">Energy Saved</div>
 
                         <div class="box-number text-faded">{{CustsavedEnergy}} kWh  
                             <!-- <br> -->
                              <!-- <span id="sparklineA">in 5 Months</span>   -->
                         </div>
                     </div>
                 </div>
 
             </div>
             <div *ngIf="is_carbon_emission_visible" class="col-lg-3 col-sm-6 col-xs-6">
              <div class="circle-title2">
                  <div class="circle-title-heading">
                      <img id="img-ctn" src="/assets/image/energy.png" width="45">
                  </div>
                  <div class="box">
                      <div class="box-heading text-faded">Energy Saved/Carbon Emission Saved</div>
                      <div class="box-heading text-faded">
                        <small>
                            <span style="font-weight: 700">Enery Saved :</span> {{CustsavedEnergy}} kWH<br>
                            <span style="font-weight: 700">Carbon Emission Saved :</span> {{CustcarbonSaved}} <br>
                        </small>
                    </div>

                      
                          <!-- <br> -->
                           <!-- <span id="sparklineA">in 5 Months</span>   -->
                      
                  </div>
              </div>

          </div>
 
 
             <!-- 3rd snapshot end -->
 
             <!-- 4th snapshot start -->
             <div class="col-lg-3 col-sm-6 col-xs-6">
                 <div class="circle-title2">
                     <div class="circle-title-heading">
                         <img id="img-ctn" src="/assets/image/low.png" width="45">
                     </div>
                     <div class="box">
                         <div class="box-heading text-faded">% saved</div>
 
                         <div class="box-number text-faded">{{CustpercentageSaved}}</div>
 
                         <!-- <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                 class="fa fa-chevron-circle-right"></i></a> -->
                     </div>
                 </div>
 
             </div>
         </div>
 <div class="row mt-3">
     <div class=" col-lg-5">
         <!-- <div class="panel-heading">
             <i class="fa fa-bar-chart-o"></i> Customer Details
         </div>
         <div class="chart-body3">
           <div class="row">
               <div class="col-sm-4" style="text-align: left;">
                     Customer ID :             
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.id }}
               </div>
               <div class="col-sm-4" style="text-align: left;">
                     Username :       
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.username }}
               </div>
               <div class="col-sm-4" style="text-align: left;">
                     Customer Name :       
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.name }}
               </div>
               <div class="col-sm-4" style="text-align: left;">
                     Address :       
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.address }}
               </div>
               <div class="col-sm-4" style="text-align: left;">
                     Total Property :       
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.totalProperties }}
               </div>
               <div class="col-sm-4" style="text-align: left;">
                     Email :       
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.email }}
               </div>
               <div class="col-sm-4" style="text-align: left;">
                     Contact :       
               </div>
               <div class="col-sm-8" style="text-align: left;">
                     {{ customerDetails.contactNumber}}
               </div>
           </div>
            
         </div> -->

         <!-- <div class="panel panel-primary"> -->
           <div class="panel-heading">
             <i class="fa fa-bar-chart-o"></i> Customer Details
         </div>
           <div class="panel-body details">
            <ul class="all-details">
               <li>
                   <p>Customer ID:</p>
               </li>
               <li>{{ customerDetails.id }}</li>
           </ul>
           <ul class="all-details">
             <li>
                 <p>Username : </p>
             </li>
             <li> {{ customerDetails.username }}</li>
         </ul>

           <ul class="all-details">
               <li>
                   <p>Customer Name:</p>
               </li>
               <li> {{ customerDetails.name }}</li>
           </ul>
           <ul class="all-details">
               <li>
                   <p>Address:</p>
               </li>
               <li>  {{ customerDetails.address }} </li>
           </ul>
           <ul class="all-details">
               <li>
                   <p>Total Property:</p>
               </li>
               <li>  {{ customerDetails.totalProperties }} </li>
           </ul>
           <ul class="all-details">
               <li>
                   <p>Email Id :</p>
               </li>
               <li>{{ customerDetails.email }}</li>
           </ul>
           <ul class="all-details">
               <li>
                   <p>Contact No. :</p>
               </li>
               <li> {{ customerDetails.contactNumber}}</li>
           </ul>
           </div>
       <!-- </div> -->







     </div>
        <div class="col-lg-7">
 
                 <div class="panel-heading">
                     <i class="fa fa-bar-chart-o"></i> Alarm Distribution
                 </div>
                 <div class="chart-body2">
                          <highcharts-chart
                          [Highcharts]="Highcharts"
                          [constructorType]="chartConstructor"
                          [options]="lineChartOptions"
                          [callbackFunction]="chartCallback"
                          [(update)]="updateFlag"
                          [oneToOne]="oneToOneFlag"
                  
                          style="width: 100%; height: 100%; display: block;"
                      ></highcharts-chart>
              </div>
             </div>               
 </div>
 
 <!-- <div class="row"> -->
         <!-- <div class="col-lg-12 col-sm-6 "> -->
     <!-- <app-alarm></app-alarm> -->
         <!-- </div> -->
 <!-- </div> -->
 <div *ngIf="showAlarm">
 <div class="row mt-4">
         <div class=" col-lg-12 col-sm-6 ">
                 <div class="panel-heading">
                         <i class="fa fa-bar-chart-o"></i> Alarm Details
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true" (click)="AlarmTableClose()">&times;</span>
                               </button>
                     </div>
                     <div class="chart-body">
                       <div class="example-header" fxLayout="row">
                             <mat-form-field>
                               <input matInput class="matInputFilterBar" (keyup)="applyFilter($event.target.value)" placeholder="Search anything in table here ...">
                             </mat-form-field>
                           </div>

                           <div class="example-container mat-elevation-z8">

                             <mat-table [dataSource]="dataSource1" matSort>

                               <!-- ID Column -->
                               <ng-container matColumnDef="siteid">
                                 <mat-header-cell *matHeaderCellDef mat-sort-header > Site ID </mat-header-cell>
                                 <mat-cell *matCellDef="let row" data-label="Site ID"> {{row.siteid}} </mat-cell>
                               </ng-container>

                               <!-- Site Name Column -->
                               <ng-container matColumnDef="site_name">
                                 <mat-header-cell *matHeaderCellDef mat-sort-header > Site Name </mat-header-cell>
                                 <mat-cell *matCellDef="let row" data-label="Site Name" > {{row.sitename}} </mat-cell>
                               </ng-container>

                               <!-- Site Type -->
                               <ng-container matColumnDef="internet_down">
                                 <mat-header-cell *matHeaderCellDef mat-sort-header> Internet Down </mat-header-cell>
                                 <mat-cell *matCellDef="let row" data-label="Internet Down" > {{row.internet_down}} </mat-cell>
                               </ng-container>

                               <!-- Site Type -->
                               <ng-container matColumnDef="light_faulty">
                                     <mat-header-cell *matHeaderCellDef mat-sort-header> Light Damage</mat-header-cell>
                                     <mat-cell *matCellDef="let row" data-label="Light Damage" > {{row.light_faulty}} </mat-cell>
                                   </ng-container>

                               <!-- Site Type -->
                               <ng-container matColumnDef="high_consump">
                                     <mat-header-cell *matHeaderCellDef mat-sort-header > High Consumption </mat-header-cell>
                                     <mat-cell *matCellDef="let row" data-label="High Consumption" > {{row.high_consump}}  </mat-cell>
                                   </ng-container>
                                 <!-- Color Column
                               <ng-container matColumnDef="alarmcount">
                                   <mat-header-cell *matHeaderCellDef mat-sort-header> Alarm count </mat-header-cell>
                                   <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{ row.siteaddr}} </mat-cell>
                                 </ng-container>  -->

                                 <ng-container matColumnDef="totalalarms">
                                   <mat-header-cell *matHeaderCellDef mat-sort-header> Total Alarms </mat-header-cell>
                                   <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Total Alarms"> {{row.totalalarms}} </mat-cell>
                                 </ng-container> 
                               <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                               <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns1;" (click)="openSiteDashOnAlarmClick(row)">
                               </mat-row>
                             </mat-table>
                             <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" ></mat-paginator>
                            
                           </div>
                         </div>
                       </div>
                     </div>
 </div>

       <div class="row mt-4">
               <div class=" col-lg-12 col-sm-6 ">
                       <div class="panel-heading">
                               <i class="fa fa-bar-chart-o"></i> Site Details
                           </div>
                           <div class="chart-body">
                             <div class="example-header" fxLayout="row">
                                   <mat-form-field>
                                     <input matInput class="matInputFilterBar" (keyup)="applyFilter($event.target.value)" placeholder="Search anything in table here ...">
                                   </mat-form-field>
                                 </div>

                                 <div class="example-container mat-elevation-z8">

                                   <mat-table [dataSource]="dataSource" matSort>

                                     <!-- ID Column -->
                                     <ng-container matColumnDef="siteid">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </mat-header-cell>
                                       <mat-cell *matCellDef="let row" data-label="Site ID"> {{row.siteid}} </mat-cell>
                                     </ng-container>

                                     <!-- Site Name Column -->
                                     <ng-container matColumnDef="sitename">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header > Site Name </mat-header-cell>
                                       <mat-cell *matCellDef="let row" data-label="Site Name"> {{row.sitename}} </mat-cell>
                                     </ng-container>

                                     <!-- Site Type -->
                                     <ng-container matColumnDef="sitetype">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header > Site Type </mat-header-cell>
                                       <mat-cell *matCellDef="let row" data-label="Site Type" > {{row.sitetype}} </mat-cell>
                                     </ng-container>
                                       <!-- Color Column -->
                                     <ng-container matColumnDef="siteaddr">
                                         <mat-header-cell *matHeaderCellDef mat-sort-header> Site Address </mat-header-cell>
                                         <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Site Address"> {{ row.siteaddr}} </mat-cell>
                                       </ng-container> 

                                       <ng-container matColumnDef="sitemanager">
                                         <mat-header-cell *matHeaderCellDef mat-sort-header> Site Manager </mat-header-cell>
                                         <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Site Manager"> {{row.sitemanager}} </mat-cell>
                                       </ng-container> 

                                     <!-- Site Manager Contact Number -->
                                     <ng-container matColumnDef="contact">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> Site Manager Mob No</mat-header-cell>
                                       <mat-cell *matCellDef="let row" data-label="Site Manager Mob No"> {{row.contact}} </mat-cell>
                                     </ng-container>
                                     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                     <mat-row   style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns;" (click)="openSiteDashboard(row)">
                                     </mat-row>
                                   </mat-table>
                                   <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" ></mat-paginator>
                  
                                 </div>
                               </div>
                             </div>
                           </div>      
</div>
</div>