.mat-mdc-dialog-container-ng-tns-c15-6-ng-trigger-ng-trigger-dialogContainer-ng-star-inserted{
    margin-top: 150px;
      display: block;
      padding: 110px;
      margin-left: 666px;
      border-radius: 4px;
      box-sizing: border-box;
      overflow: auto;
      outline: 0;
      width: 100%;
      height: 100%;
      min-height: inherit;
      max-height: inherit;
  }
   
  .mat-mdc-row:nth-child(even) {
    background: #CCC;
    }
  .mat-mdc-row:nth-child(odd) {
    background: red;
    }  
  
   @media screen and (max-width: 960px) {
     .mat-mdc-table {
       border: 0;
       vertical-align: middle
     }
   
     .mat-mdc-table caption {
       font-size: 1em;
     }
     
     .mat-mdc-table .mat-mdc-row {
       border-bottom: 5px solid #ddd;
       display: inline;
     }
     /*
     .mat-mdc-table .mat-mdc-row:nth-child(even) {background: #CCC}
     .mat-mdc-table .mat-mdc-row:nth-child(odd) {background: #FFF}
     */
     .mat-mdc-table .mat-mdc-cell {
       border-bottom: 1px solid #ddd;
       display: block;
       font-size: 1em;
       text-align: right;
       font-weight: bold;
       height:30px;
       margin-bottom: 4%;
       padding: 13px;
     }
     .mat-mdc-table .mat-mdc-cell:before {
       /*
       * aria-label has no advantage, it won't be read inside a table
       content: attr(aria-label);
       */
       content: attr(data-label);
       float: left;
       text-transform: uppercase;
       font-weight: normal;
       
       font-size: .85em;
     }
     .mat-mdc-table .mat-mdc-cell:last-child {
       border-bottom: 0;
     }
       .mat-mdc-table .mat-mdc-cell:first-child {
       margin-top: 4%;
     }
    .mat-mdc-header-row {
       display: none;
     }
  
   }
   .panel-heading{
    position: relative;
  
    background-color: #ff7a01;
    
    border: 1px;
    border-radius: 3px;
    text-align: left;
    padding: 5px;
    font-size: 16px;
 }
 .hover-effect{
    border-color: #4C4B4B;
       background-color: #4C4B4B;
 }
 .status-panel-body{
        
        width:100%;
        background-color:black;
        position:relative;
        border-radius:3px; 
        border:1px solid #ff7a01;  
        padding: 20px;
        }  
 
    .chartBorder{
          width: 100%;
 
      
      }
       
 
 .panel-body{
       width:100%;
       border:1px solid #ff7a01;
       padding: 5px;  
 } 
 .chart-body{
    background-color: #222222;
    border:1px solid #ff7a01;
    padding: 10px;
    position: relative;
 }
 .chartBorder{
    width: 100%;


}
   