.mat-dialog-content{
    position:  fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    text-align: center;
    box-shadow: orange;
    z-index: 100;
}
