.dashboard_trakcer{
   
   margin-top: 10px;
   margin-left:10px;
   margin-right: 5px;
   font-size: 18px;
}

mat-cell, mat-footer-cell, mat-header-cell {
   flex: 1;
   display: flex;
   align-items: center;
   overflow: hidden;
   word-wrap: break-word;
   min-height: inherit;
   padding: 10px;
}

.container-fluid {
   background: black;
}

hr {
    width: 95%;
    height: 1px;
    margin-left: 10px;
    margin-top: 0px;
    background-color:#666;
    
   }
   
   .mat-option.mat-selected:not(.mat-option-disabled) {
      color: #fff !important;
  }
  
  /* Snapshot row start */

  .circle-title2{
    margin-bottom: 15px;
    text-align: center;
    
    
     }
    .circle-title-heading{
      position:relative; 
      height: 80px; 
      width: 80px;
      margin: 0 auto -40px;
      border-radius: 100%;
      transition: all ease-in-out .3s;
      background:#ff7a01;
      color: #fff;
    } 
    .circle-title-heading .fa{
       line-height: 80px;
    }
    .circle-title-heading .fa.icon{
      font-size: 4em;
      padding-top: 8px;
   }
    .box{
      padding-top: 50px;
      background-color: #222222;
      border: 1px solid #ff7a01;
      border-radius: 5px;
    
   }

   .box2{
      padding-top: 50px;
      background-color: #222222;
      border: 1px solid #ff7a01;
      border-radius: 5px;
      height: 140px;
      margin-bottom: 50px;
   }
   .box:hover{
      border-color: #4C4B4B;
      background-color: #4C4B4B;
   }
   .box-heading{
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
   }
   .text-faded{
      color:rgba(255,255,255,0.7);
   }
   .box-number{
      padding:5px 0 15px;
      font-size: 26px;
      font-weight: 700;
      line-height: 1;
   }
   .footer{
      display: block;
      padding: 5px;
      color:rgba(255,255,255,0.5);
      transition: all ease-in-out .3s;
   }
   .footer:hover{
      text-decoration: none;
      color:rgba(255,255,255,0.5);
      background-color: rgba(0,0,0,0.2);
   }
   #img-ctn{
      padding-top: 14px;
   }
   
/* Snapshot row end */
.mat-option.mat-selected:not(.mat-option-disabled) {
   color: #fff !important;
  
}


/* status and energy power status row Starts */
.panel-heading{
   position: relative;
 
   background-color: #ff7a01;
   
   border: 1px;
   border-radius: 3px;
   text-align: left;
   padding: 5px;
   font-size: 16px;
}
.hover-effect{
   border-color: #4C4B4B;
      background-color: #4C4B4B;
}
.status-panel-body{
       
       width:100%;
       background-color:black;
       position:relative;
       border-radius:3px; 
       border:1px solid #ff7a01;  
       padding: 10px;
       }  

   .chartBorder{
         width: 100%;

     
     }
     
    
/* status and energy power status row End */


/* Customer detail table start */


.panel-body{
      width:100%;
      border:1px solid #ff7a01;
      padding: 5px;  
}  
mat-form-field{
   
   font-size: 14px;
   width: 100%;
}
table {
   width: 100%;
   text-align:left;
   border-spacing: 0;
   border-collapse: collapse;
 }
 .mat-header-cell{
   background-color: black;
   padding: 8px;
   font-size: 13px;
}

.mat-cell {
   font-size: 12px;
   border-right: 1px solid #222;
}

.headerRow{
   background: red;
   padding: 8px;
   text-align: center;
   font-size: 16px;
}
 .mat-paginator{
   background: #000000;
}

th {
   background-color: #000000;
   padding: 8px;
   text-align: center;
}
td{
      
   padding:8px;
} 
tr:nth-child(odd){
   background-color: #666;
}
tr:nth-child(even){
   background-color: #222222;
}
/* Customer detail table end */

/* Energy status graph start */
.heading-panel{
   background:#ff7a01;
   padding:5px;
   text-align: left;
   font-size: 16px;
   border-radius: 3px;
   margin-top: 12px;
   }

.chart-body{
   background-color: #222222;
   border:1px solid #ff7a01;
   padding: 10px;
   position: relative;
}
  


/* Energy status graph end */



.chngpwd-body{
   width:100%;
   border:1px solid #ff7a01;
   padding-top: 15px;
   margin-top: 55px;
   
}


.card-header{
   color: black;
   text-align: left;
   font-size: 18px;
}
.oldp{
   margin-top: 10px;
}
.chpwd{
   text-align: left;
}
.btn-primary {
   background: #E66F00;
   color: #ffffff;
}
.btn{
   border: #E66F00;
    
}
.chngpwd{
   margin-top: 125px;
}


.charheader2{
   margin: 5px;
   border-top: 1px solid orangered;
   background: orangered;
   padding: 5px;
   border-radius: 5px;

}





body {
  font-family: 'Covered By Your Grace', cursive;
  line-height: 1.25;
  
}


.ng-tns-c13-2 :focus {
   color: #ff7a01;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  /*  Enable this to hide header
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 13px;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
    padding: 13px;
  }
  
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  } 
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */

#breadcrumb{
   position: fixed;
   z-index: 999;
   top: 50px;
   width: 100%;
   background: #222222;
}


/*  breadcrump */

.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #303030;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
    color: #fff;
  }
  .btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }
  
  .btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
    background: #303030;
    color: #fff;
  }
  .btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
    background: #303030;
    color: #fff;
  }
  .btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
    background: #303030;
    color: #fff;
  }
  
  /** Default button **/
  .btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #303030;
  }
  
  
  /* The responsive part */
  
  .btn-breadcrumb > * > div {
      /* With less: .text-overflow(); */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;    
  }
  
  .btn-breadcrumb > *:nth-child(n+2) {
    display:none;
  }
  
  .mat-input-element {
   caret-color: #E66F00 !important;
  }

  .mat-input-element ng-reflect-placeholder {
   color: #E66F00 !important;
  }
  /* === For phones =================================== */
  @media (max-width: 767px) {
      .btn-breadcrumb > *:nth-last-child(-n+2) {
          display:block;
      } 
      .btn-breadcrumb > * div {
          max-width: 60px;
      }
  }
  
  /* === For tablets ================================== */
  @media (min-width: 768px) and (max-width:991px) {
      .btn-breadcrumb > *:nth-last-child(-n+4) {
          display:block;
      } 
      .btn-breadcrumb > * div {
          max-width: 100px;
      }
      .hide{
         display: none;
      }
  }
  
  /* === For desktops ================================== */
  @media (min-width: 992px) {
      .btn-breadcrumb > *:nth-last-child(-n+6) {
          display:block;
      } 
      .btn-breadcrumb > * div {
          max-width: 170px;
      }
  }
  #page-wrapper {
   width: 100%;
   padding: 130px 25px 130px 25px;
   background: #0F0F0F;
   
}
/* #page-wrapper > div.row div.col-lg-12 > h1  {
   font-size: 36px;
   font-size: 3vw;
   border-bottom: 1px solid #333;
   margin-bottom: 50px;
   margin-top: -50px;
 
}  */


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }
 
 /* Style the label to display next to the inputs */
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 }
 
 /* Style the submit button */
 input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
 }
 
 /* Style the container */
 .container-color {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
 
 /* Floating column for labels: 25% width */
 .col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
 }
 
 /* Floating column for inputs: 75% width */
 .col-75 {
   float: left;
   width: 75%;
   margin-top: 6px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 .example1{
    float: right;

 }
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .col-25, .col-75, input[type=submit] {
     width: 100%;
     margin-top: 0;
   }
 }


 /*gauge css*/
 .highcharts-figure .chart-container {
	width: 300px;
	height: 200px;
	float: left;
}

.highcharts-figure, .highcharts-data-table table {
	width: 600px;
	margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

@media (max-width: 600px) {
	.highcharts-figure, .highcharts-data-table table {
		width: 100%;
	}
	.highcharts-figure .chart-container {
		width: 300px;
		float: none;
		margin: 0 auto;
	}

}
.panel-heading{
   position: relative;
 
   background-color: #ff7a01;
   
   border: 1px;
   border-radius: 3px;
   text-align: left;
   padding: 5px;
   font-size: 16px;
}

.chart-body3{
   background-color: #222222;
   border:1px solid #ff7a01;
   padding: 10px;
   position: relative;
   height: auto;
   width: auto;
   color: #ffffff;
}

