.mat-dialog-container {
    margin-left: 670px;
    margin-top: 300px;
}

.mat-dialog-container {
    box-shadow:#E6E7E7;
    background: #E6E7E7;
    color: #fff;
}



/* table Starts */
.panel-heading{
    position: relative;
    background-color: #ff7a01;
    border: 1px;
    border-radius: 3px;
    text-align: left;
    padding: 5px;
    font-size: 16px;
 }

.hover-effect{
    border-color: #4C4B4B;
    background-color: #4C4B4B;
}
.status-panel-body{
    width:100%;
    background-color:black;
    position:relative;
    border-radius:3px; 
    border:1px solid #ff7a01;  
    padding: 10px;
}  
 
.chartBorder{
    width: 100%;

}
     
/* table End */ 
#cancel{
    background-color: #ff7a01;  
}


/* Site Deatils table start */
.panel-body{
    width:100%;
    border:1px solid #ff7a01;
    padding: 5px;  
}  
.mat-form-field{
 
 font-size: 14px;
 width: 100%;
}

.mat-table {
 width: 100%;
 text-align:left;
 border-spacing: 0;
 border-collapse: collapse;
}
.mat-header-cell{
 background-color: black;
 padding: 8px;
 font-size: 16px;
 
 /* text-align: center; */
}
.mat-row:nth-child(even){
    background-color: #696969;
 }
 .mat-row:nth-child(odd){
    background-color: #3F3F3F;
 }
/* .mat-row:nth-child(2){
    background-color:#ff7c01da;
 } */
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 1px;
}

mat-cell, mat-footer-cell, mat-header-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    padding-left: 22px;
    border-right: 1px solid #222;
}
.mat-header-row {
    min-height: 76px;
    /* width: 1675px; */
}
.headerRow{
 background: red;
 padding: 8px;
 text-align: center;
 font-size: 16px;
}
.mat-paginator{
 background: #000000;
}

/* 
th {
 background-color: #000000;
 padding: 8px;
 text-align: center;
}
td{
    
 padding:8px;
} 
tr:nth-child(odd){
 background-color: #666;
}
tr:nth-child(even){
 background-color: #222222;
} */

/* Customer detail table end */

/* .mat-cell-cdk-column-sitename-mat-column-sitename-ng-star-inserted
{
width: 100%;
}

.mat-cell[_ngcontent-c10] {
    font-size: 12px;
    border-right: 1px solid #222;
} */


@media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
  
    /*  Enable this to hide header
    .mat-table .mat-header-cell {
  
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 13px;
      position: absolute;
      width: 1px;
    }
    */
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
      padding: 13px;
    }
  
    .mat-table .mat-cell:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
  
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
}
  
