<div class="row" id="breadcrumb" style="margin-right:15px !important;">
    <div class="col-md-8 col-sm-12">
        <div class="row" style="margin-left:2px !important">
            <div id="bc2" style="left: 1% !important;" class="btn-group btn-breadcrumb">
                <a (click)="home()" *ngIf="super_admin_home" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a (click)="home()" *ngIf="customer_home" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a (click)="customerPage()" *ngIf="customer_name" class="btn btn-default">
                    <div>Customer Page</div>
                </a>
                <a (click)="sitePage()" *ngIf="site_dash" class="btn btn-default">Site Page</a>
                 
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-float btn-primary" style="margin-right: 35px !important;">
            <span class="ng-scope" (click)="openSiteDashboard()">Select Site</span>
        </button>
    </div>

</div>


<!-- <div class="container no-margin "> -->
<div id="page-wrapper" class="container-fluid">
    <!-- dashboard content -->
    <div *ngIf="isShown">
        <div class="row" *ngIf="!pf_visible">
            <div class="dashboard_trakcer">Live Data</div>
            <hr>

            <!-- 1st snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <!-- <i class="fa fa-bell fa-fw fa-3x"></i> -->
                        <img id="img-ctn" src="assets/image/consume.png" width="45">
                    </div>
                    <div class="box2">
                        <div class="box-heading text-faded" style="font-weight: 700;">Mains or DG</div>

                        <div class="box-number text-faded">{{ liveData.supply_source }}</div>
                        <!-- <div class="box-number text-faded">{{ supply_source}}</div> -->

                        <!--<a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>

            </div>


            <!-- 1st snapshot end -->


            <!-- 2nd snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <i class="fa fa-bolt fa-3x"></i>
                    </div>
                    <div class="box2">
                        <div class="box-heading text-faded" style="font-weight: 700;">Instantaneous Voltage</div>
                        <div class="box-heading text-faded">
                            <small>
                                <span style="color: red">R Phase :</span> {{liveData.r_volt}}<br>
                                <span style="color: yellow">Y Phase :</span> {{liveData.y_volt}}<br>
                                <span style="color: skyblue">B Phase :</span> {{liveData.b_volt}}<br>
                            </small>
                        </div>

                        <!--  <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>

            </div>


            <!-- 2nd snapshot end -->

            <!-- 3rd snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="/assets/image/energy.png" width="45">
                    </div>
                    <div class="box2">
                        <div class="box-heading text-faded" style="font-weight: 700;">Instantaneous Load</div>

                        <div class="box-number text-faded">{{liveData.totalLoad}} KW</div>

                        <!-- <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
            <!-- 3rd snapshot end -->

            <!-- 4th snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="/assets/image/low.png" width="45">
                    </div>
                    <div class="box2">
                        <div class="box-heading text-faded" style="font-weight: 700;">Instantaneous Current</div>
                        <div class="box-heading text-faded">
                            <small>
                                <span style="color: red">R Phase :</span> {{liveData.r_current}} Amp<br>
                                <span style="color: yellow">Y Phase :</span> {{liveData.y_current}} Amp<br>
                                <span style="color: skyblue">B Phase :</span> {{liveData.b_current}} Amp
                            </small>
                        </div>

                        <!--  <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>
            </div>

        </div>
        <div class="row" *ngIf="pf_visible">
            <div class="dashboard_trakcer">Live Data</div>
            <hr>

            <!-- 1st snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <!-- <i class="fa fa-bell fa-fw fa-3x"></i> -->
                        <img id="img-ctn" src="assets/image/consume.png" width="45">
                    </div>
                    <div class="box2">
                        <div class="box-heading text-faded" style="font-weight: 700;">Mains or DG</div>

                        <div class="box-number text-faded">{{ liveData.supply_source }}</div>
                        <!-- <div class="box-number text-faded">{{ supply_source}}</div> -->

                        <!--<a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>

            </div>


            <!-- 1st snapshot end -->


            <!-- 2nd snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <i class="fa fa-bolt fa-3x"></i>
                    </div>
                    <div class="box2">
                        <div class="box-heading text-faded" style="font-weight: 700;">Instantaneous Volt/Current</div>
                        <div class="box-heading text-faded">
                            <small>
                                <span style="color: red">R Phase :</span> {{liveData.r_volt}} V / {{liveData.r_current}}
                                amp <br>
                                <span style="color: yellow">Y Phase :</span> {{liveData.y_volt}} V /
                                {{liveData.y_current}} amp<br>
                                <span style="color: skyblue">B Phase :</span> {{liveData.b_volt}} V /
                                {{liveData.b_current}} amp <br>
                            </small>
                        </div>

                        <!--  <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>

            </div>


            <!-- 2nd snapshot end -->

            <!-- 3rd snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="/assets/image/energy.png" width="45">
                    </div>
                    <div class="box2" style="cursor: pointer;" (click)="loadDetails()">
                        <div class="box-heading text-faded" style="font-weight: 700;">Instantaneous Load</div>

                        <div class="box-number1 text-faded">
                            <small>
                                <span style="color: #ff7a01;">CURRENT LOAD :</span> {{liveData.totalLoad}} KW<br>
                                <span style="color: red">MAXIMUM LOAD :</span> {{liveData.max_load}} KW <br>
                                <span style="color: #37d837">MINIMUM LOAD :</span> {{liveData.min_load}} KW
                            </small>
                        </div>


                        <!-- <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
            <!-- 3rd snapshot end -->

            <!-- 4th snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="/assets/image/low.png" width="45">
                    </div>
                    <div class="box2" style="cursor: pointer;" (click)="pf_details()">
                        <div class="box-heading text-faded" style="font-weight: 700;">Instantaneous PF</div>
                        <div class="box-heading text-faded">
                            <small>
                                <span style="color: red">R Phase :</span> {{liveData.r_pf}} <br>
                                <span style="color: yellow">Y Phase :</span> {{liveData.y_pf}} <br>
                                <span style="color: skyblue">B Phase :</span> {{liveData.b_pf}} <br>
                            </small>
                        </div>

                        <!--  <a du-smooth-scroll="table" du-scrollspy class="footer">More Info<i
                                class="fa fa-chevron-circle-right"></i></a> -->
                    </div>
                </div>
            </div>

        </div>

        <!--power-status and customer power-status start-->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o"></i> Monthly Power Source Distribution
                    <div class="col-md-3 ">
                        <!-- <mat-form-field>
                            <input matInput [max] ="maxDate" [min]="minDate" [matDatepicker]="picker1" [formControl]="date" [value]="date.value" (dateChange)="columnGraphFilterChanged()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field> -->
                    </div>
                </div>
                <div class="status-panel-body" style="height:291px">
                    <div *ngIf="pieChartLoading" class="chart-loading-overlay">
                        <div class="chart-loading-content">
                            <mat-spinner class="chart-loading-spinner"></mat-spinner>
                        </div>
                    </div>
                    <div style="height: 100%">
                        <highcharts-chart [Highcharts]="pieChart" [constructorType]="chartConstructor"
                            [options]="pieChartOptions" [callbackFunction]="pieChartCallback" [(update)]="updateFlag"
                            [oneToOne]="oneToOneFlag" style="width: 100%; height: 100%; display: block;">
                        </highcharts-chart>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">


                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o"></i> Site Details
                </div>
                <div class="panel-body details">
                    <ul class="all-details">
                        <li>
                            <p>Site ID : </p>
                        </li>
                        <li>{{ siteDetails.site_id }}</li>
                    </ul>
                    <ul class="all-details">
                        <li>
                            <p>Site Name : </p>
                        </li>
                        <li> {{siteDetails.site_name }}</li>
                    </ul>

                    <ul class="all-details">
                        <li>
                            <p>Address : </p>
                        </li>
                        <li> {{ siteDetails.site_addr }}</li>
                    </ul>
                    <ul class="all-details">
                        <li>
                            <p>Site Type : </p>
                        </li>
                        <li> {{siteDetails.site_type }} </li>
                    </ul>
                    <ul class="all-details">
                        <li>
                            <p>Site Manager : </p>
                        </li>
                        <li> {{ siteDetails.site_mgr_name }} </li>
                    </ul>
                    <ul class="all-details">
                        <li>
                            <p> Site Manager Email : </p>
                        </li>
                        <li>{{ siteDetails.site_mgr_email }}</li>
                    </ul>
                    <ul class="all-details">
                        <li>
                            <p> Site Manager Contact : </p>
                        </li>
                        <li> {{ siteDetails.site_mgr_mob}}</li>
                    </ul>
                    <!-- <ul class="all-details" *ngIf = "Admindata" >
                    <li>
                        <p> Total Blocks : </p>
                    </li>
                    <li> {{ siteDetails.total_blocks}}</li>
                </ul>
                <ul class="all-details" *ngIf = "Admindata" >
                    <li>
                        <p> Total Aisles : </p>
                    </li>
                    <li> {{ siteDetails.total_aisles }}</li>
                </ul> -->
                    <!-- <ul class="all-details" *ngIf = "Admindata">
                    <li>
                        <p> Total Meters : </p>
                    </li>
                    <li> 
                    <span *ngIf="siteDetails.total_single_src_meters">{{ siteDetails.total_single_src_meters }} Single Source Meters<br></span>
                    <span *ngIf="siteDetails.total_dual_src_meters">{{ siteDetails.total_dual_src_meters }} Dual Source Meters</span>
                    </li>
                </ul> -->
                    <!-- <ul class="all-details" *ngIf = "Admindata">
                 <li>
                    <span *ngIf="siteDetails.total_single_src_meters">{{ siteDetails.total_single_src_meters }} Single Source Meters<br></span>
                    <span *ngIf="siteDetails.total_dual_src_meters">{{ siteDetails.total_dual_src_meters }} Dual Source Meters</span>
                 </li>
                </ul> -->


                </div>



            </div>
        </div>

        <br>

        <!--chart start-->
        <div class="row">
            <!-- fuel consumption graph-->
            <div class="col-sm-12 " *ngIf="showFuelGraph">
                <div class="orange-graph-header">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="header-title-field">
                                DG Fuel Consumption Graph
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="header-date-field">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [max]="maxDate" [min]="dgfuelMinDate" [matDatepicker]="picker2"
                                        [formControl]="dgFuelDate" [value]="dgFuelDate.value"
                                        (dateChange)="dgFuelConsumptionGraphSelectionChange()">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button id="button2" type="button" class="btn btn-sm btn-outline-light w-100"
                                style="cursor: pointer;" (click)="openDgFuelCustomRangeModal()">Custom Range</button>
                        </div>
                    </div>
                </div>


                <div class="chart-body" *ngIf="dgFuelData || dgFuelDataSelectionChange">
                    <div *ngIf="dgFuelChartLoading" class="chart-loading-overlay">
                        <div class="chart-loading-content">
                            <mat-spinner class="chart-loading-spinner"></mat-spinner>
                        </div>
                    </div>
                    <div style="height: 100%">
                        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="stockChart"
                            [options]="dgFuelConsumptionOptions" [callbackFunction]="dgFuelChartCallback"
                            [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                            style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <button class="md-raised md-primary md-button md-link-ripple" id="exceldata" type="button"
                                style="float: right;" (click)="openDgFuelExportModal()">
                                <span class="ng-scope">Export Excel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ── DG Fuel Custom Range Modal ─────────────────────────────────── -->
            <div class="col-sm-12">
                <div class="modal fade" [ngClass]="{'show': showDgFuelCustomRangeModal}"
                    [style.display]="showDgFuelCustomRangeModal ? 'block' : 'none'" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content custom-export-modal">
                            <div class="modal-body custom-modal-body">
                                <h4 class="custom-modal-title">Custom Date Range</h4>
                                <div class="site-display-container">
                                    <div class="site-display-box">
                                        <span class="site-label">Site:</span>
                                        <span class="site-value">{{siteDetails.site_name}}</span>
                                    </div>
                                </div>
                                <div class="custom-divider"></div>
                                <form>
                                    <div class="date-section">
                                        <label class="input-label">Start Date</label>
                                        <div class="custom-date-wrapper">
                                            <mat-form-field appearance="outline" class="custom-mat-date w-100">
                                                <input matInput [matDatepicker]="dgCrStartPicker"
                                                    [(ngModel)]="dgFuelCustomRangeStartDate" name="dgCrStart"
                                                    placeholder="mm/dd/yyyy">
                                                <mat-datepicker-toggle matSuffix [for]="dgCrStartPicker"
                                                    class="custom-date-toggle"></mat-datepicker-toggle>
                                                <mat-datepicker #dgCrStartPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="date-section mt-3">
                                        <label class="input-label">End Date</label>
                                        <div class="custom-date-wrapper">
                                            <mat-form-field appearance="outline" class="custom-mat-date w-100">
                                                <input matInput [matDatepicker]="dgCrEndPicker"
                                                    [(ngModel)]="dgFuelCustomRangeEndDate" name="dgCrEnd"
                                                    placeholder="mm/dd/yyyy">
                                                <mat-datepicker-toggle matSuffix [for]="dgCrEndPicker"
                                                    class="custom-date-toggle"></mat-datepicker-toggle>
                                                <mat-datepicker #dgCrEndPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="custom-modal-footer mt-4">
                                        <button type="button" class="btn custom-btn-submit"
                                            (click)="submitDgFuelCustomRange()">Submit</button>
                                        <button type="button" class="btn custom-btn-cancel"
                                            (click)="closeDgFuelCustomRangeModal()">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show" *ngIf="showDgFuelCustomRangeModal"></div>
            </div>

            <!-- ── DG Fuel Export Excel Modal ─────────────────────────────────── -->
            <div class="col-sm-12">
                <div class="modal fade" [ngClass]="{'show': showDgFuelExportModal}"
                    [style.display]="showDgFuelExportModal ? 'block' : 'none'" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content custom-export-modal">
                            <div class="modal-body custom-modal-body">
                                <h4 class="custom-modal-title">Export DG Fuel Data</h4>
                                <div class="site-display-container">
                                    <div class="site-display-box">
                                        <span class="site-label">Site:</span>
                                        <span class="site-value">{{siteDetails.site_name}}</span>
                                    </div>
                                </div>
                                <div class="custom-divider"></div>
                                <form>
                                    <div class="date-section">
                                        <label class="input-label">Start Date</label>
                                        <div class="custom-date-wrapper">
                                            <mat-form-field appearance="outline" class="custom-mat-date w-100">
                                                <input matInput [matDatepicker]="dgExpStartPicker"
                                                    [(ngModel)]="dgFuelExportStartDate" name="dgExpStart"
                                                    placeholder="mm/dd/yyyy">
                                                <mat-datepicker-toggle matSuffix [for]="dgExpStartPicker"
                                                    class="custom-date-toggle"></mat-datepicker-toggle>
                                                <mat-datepicker #dgExpStartPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="date-section mt-3">
                                        <label class="input-label">End Date</label>
                                        <div class="custom-date-wrapper">
                                            <mat-form-field appearance="outline" class="custom-mat-date w-100">
                                                <input matInput [matDatepicker]="dgExpEndPicker"
                                                    [(ngModel)]="dgFuelExportEndDate" name="dgExpEnd"
                                                    placeholder="mm/dd/yyyy">
                                                <mat-datepicker-toggle matSuffix [for]="dgExpEndPicker"
                                                    class="custom-date-toggle"></mat-datepicker-toggle>
                                                <mat-datepicker #dgExpEndPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="custom-modal-footer mt-4">
                                        <button type="button" class="btn custom-btn-submit"
                                            (click)="submitDgFuelExport()" [disabled]="dgFuelExportLoading">
                                            <span *ngIf="!dgFuelExportLoading">Submit</span>
                                            <span *ngIf="dgFuelExportLoading"
                                                style="display:flex; align-items:center; gap:8px;">
                                                <mat-spinner diameter="18" style="display:inline-block;"></mat-spinner>
                                                Exporting...
                                            </span>
                                        </button>
                                        <button type="button" class="btn custom-btn-cancel"
                                            [disabled]="dgFuelExportLoading"
                                            (click)="closeDgFuelExportModal()">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show" *ngIf="showDgFuelExportModal"></div>
            </div>

            <div class="col-sm-12 " *ngIf="is_load_graph_visible == 'true'">
                <!-- <div class="col-md-12 col-sm-12"> -->
                <div class="orange-graph-header">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="header-title-field">
                                <i class="fa fa-bar-chart-o"></i>Total load-graph
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="header-date-field">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker1"
                                        [formControl]="loadDate" [value]="loadDate.value"
                                        (dateChange)="loadGraphFilterChanged()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="showLoadIntervalOptions">
                            <div class="header-interval-field">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-select [(value)]="selected_load_options"
                                        (selectionChange)="loadGraphFilterChanged()">
                                        <mat-option *ngFor="let interval of loadGraphintervals"
                                            [value]="interval.value">
                                            {{interval.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="!showLoadIntervalOptions"></div>

                    </div>
                </div>

                <div class="chart-body" *ngIf="loadGraph">

                    <div *ngIf="loadGraphLoading" class="chart-loading-overlay">
                        <div class="chart-loading-content">
                            <mat-spinner class="chart-loading-spinner"></mat-spinner>
                        </div>
                    </div>
                    <div style="height: 100%">
                        <highcharts-chart #loadChart [Highcharts]="Highcharts" [constructorType]="stockChart"
                            [options]="lineChartOptions" [callbackFunction]="loadChartCallback"
                            [(update)]="updateLoadDataFlag" [oneToOne]="true"
                            style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                    </div>

                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <!-- <button class="md-raised md-primary md-button md-link-ripple" type="button" style="float: right;" (click)="changeGraphStacking()">
                                <span class ="ng-scope">Change Graph</span>
                            </button> -->

                            <button class="md-raised md-primary md-button md-link-ripple" id="exceldata" type="button"
                                style="float: right;" (click)="exportLoadData()">
                                <span class="ng-scope">Export Excel</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="chart-body" *ngIf="seprateManinsDgLoad">

                    <div *ngIf="loadGraphLoading" class="chart-loading-overlay">
                        <div class="chart-loading-content">
                            <mat-spinner class="chart-loading-spinner"></mat-spinner>
                        </div>
                    </div>
                    <div style="height: 100%">
                        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="stockChart"
                            [options]="seprateManinsDgLoadChartOptions" [callbackFunction]="loadChartCallback"
                            [(update)]="updateLoadDataFlag" [oneToOne]="true"
                            style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                    </div>

                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <!-- <button class="md-raised md-primary md-button md-link-ripple" type="button" style="float: right;" (click)="changeGraphStacking()">
                               <span class ="ng-scope">Change Graph</span>
                           </button> -->

                            <button class="md-raised md-primary md-button md-link-ripple" id="exceldata" type="button"
                                style="float: right;" (click)="exportLoadData()">
                                <span class="ng-scope">Export Excel</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- </div>                -->
            </div>
            <div class="col-sm-12" *ngIf="showFuelGraph">
                <div>
                    <div class="orange-graph-header">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="header-title-field">
                                    <i class="fa fa-bar-chart-o"></i>Monthly Trend Overview
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="chart-body">

                    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                        [options]="lineChartOption" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                        [oneToOne]="oneToOneFlag" style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                </div>

            </div>



            <div class="col-sm-12 ">
                <div class="orange-graph-header">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="header-title-field">
                                <i class="fa fa-bar-chart-o"></i>Total
                                <mat-form-field style="max-width: 45%; font-size: 18px; color: white;">
                                    <mat-select [(value)]="selected_graph" #energyValue
                                        (selectionChange)="columnGraphFilterChanged($event)">
                                        <mat-option *ngFor="let graphType of graphTypes" [value]="graphType.value">
                                            {{graphType.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="header-date-field">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker1"
                                        [formControl]="date" [value]="date.value"
                                        (dateChange)="columnGraphFilterChanged()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="showIntervalOptions">
                            <div class="header-interval-field">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-select [(value)]="selected_task"
                                        (selectionChange)="columnGraphFilterChanged()">
                                        <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                                            {{interval.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="!showIntervalOptions"></div>
                    </div>
                </div>

                <div class="row">
                    <!-- Specific Design Energy Export Modal -->
                    <div class="modal fade" [ngClass]="{'show': showEnergyExportModal}"
                        [style.display]="showEnergyExportModal ? 'block' : 'none'" tabindex="-1" role="dialog"
                        aria-labelledby="energyExportModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content custom-export-modal">

                                <div class="modal-body custom-modal-body">
                                    <h4 class="custom-modal-title">Export Energy Data</h4>

                                    <!-- Site Name Display -->
                                    <div class="site-display-container">
                                        <div class="site-display-box">
                                            <span class="site-label">Site:</span>
                                            <span class="site-value">{{siteDetails.site_name}}</span>
                                        </div>
                                    </div>

                                    <div class="custom-divider"></div>

                                    <form>
                                        <!-- Start Date Section -->
                                        <div class="date-section">
                                            <label class="input-label">Start Date</label>
                                            <div class="custom-date-wrapper">
                                                <mat-form-field appearance="outline" class="custom-mat-date w-100">
                                                    <input matInput [matDatepicker]="startPicker"
                                                        [(ngModel)]="energyExportStartDate" name="startDate"
                                                        placeholder="mm/dd/yyyy">
                                                    <mat-datepicker-toggle matSuffix [for]="startPicker"
                                                        class="custom-date-toggle"></mat-datepicker-toggle>
                                                    <mat-datepicker #startPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <!-- End Date Section -->
                                        <div class="date-section mt-3">
                                            <label class="input-label">End Date</label>
                                            <div class="custom-date-wrapper">
                                                <mat-form-field appearance="outline" class="custom-mat-date w-100">
                                                    <input matInput [matDatepicker]="endPicker"
                                                        [(ngModel)]="energyExportEndDate" name="endDate"
                                                        placeholder="mm/dd/yyyy">
                                                    <mat-datepicker-toggle matSuffix [for]="endPicker"
                                                        class="custom-date-toggle"></mat-datepicker-toggle>
                                                    <mat-datepicker #endPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <!-- Buttons -->
                                        <div class="custom-modal-footer mt-4">
                                            <button type="button" class="btn custom-btn-submit"
                                                (click)="submitEnergyExport()" [disabled]="energyExportLoading">
                                                <span *ngIf="!energyExportLoading">Submit</span>
                                                <span *ngIf="energyExportLoading"
                                                    style="display:flex; align-items:center; gap:8px;">
                                                    <mat-spinner diameter="18"
                                                        style="display:inline-block;"></mat-spinner>
                                                    Exporting...
                                                </span>
                                            </button>
                                            <button type="button" class="btn custom-btn-cancel"
                                                [disabled]="energyExportLoading"
                                                (click)="closeEnergyExportModal()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Backdrop -->
                    <div class="modal-backdrop fade show" *ngIf="showEnergyExportModal"></div>
                </div>

                <div class="chart-body" *ngIf="unitConsumptionGraph">
                    <div *ngIf="barChartLoading" class="chart-loading-overlay">
                        <div class="chart-loading-content">
                            <mat-spinner class="chart-loading-spinner"></mat-spinner>
                        </div>
                    </div>
                    <div style="height: 100%">
                        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                            [options]="barChartOptions" [callbackFunction]="energyChartCallback" [(update)]="updateFlag"
                            [oneToOne]="oneToOneFlag"
                            style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><button class="md-raised md-primary md-button md-link-ripple" type="button"
                                style="float: right;" (click)="changeGraphStacking()">
                                <span class="ng-scope">Change Graph</span>
                            </button>

                            <button class="md-raised md-primary md-button md-link-ripple" id="exceldata" type="button"
                                style="float: right;" (click)="openEnergyExportModal()">
                                <span class="ng-scope">Export Excel</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="chart-body" *ngIf="runTimeGraph">
                    <div *ngIf="barChartLoading" class="chart-loading-overlay">
                        <div class="chart-loading-content">
                            <mat-spinner class="chart-loading-spinner"></mat-spinner>
                        </div>
                    </div>
                    <div style="height: 100%">
                        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                            [options]="barChartOptionsRunTime" [callbackFunction]="energyChartCallback"
                            [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                            style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <button class="md-raised md-primary md-button md-link-ripple" type="button"
                                style="float: right;" (click)="changeGraphStackingRunTime()">
                                <span class="ng-scope">Change Graph</span>
                            </button>
                            <button class="md-raised md-primary md-button md-link-ripple" id="exceldata" type="button"
                                style="float: right;" (click)="openEnergyExportModal()">
                                <span class="ng-scope">Export Excel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>