.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  #Save-device{
    color: #ffffff;
    background:#E66F00!important;
    margin-left: 7%;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 5px 19px;
 }
 .abc{
  color:white
 }
 p {
  margin-top: 0;
  margin-bottom: -1rem;
}

form button {
  position: relative;
  width: 71px;
  margin-top: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}