
<div mat-dialog-content id="selectdash">
  <div class="row">
    <div class="col-sm-12 ">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o"></i> All Sites
        </div>
                <div class="chart-body">
                  <div class="example-header" fxLayout="row">
                      <mat-form-field>
                          <input matInput class="matInputFilterBar" (keyup)="applyFilter($event.target.value)" placeholder="Search anything in table here ...">
                        </mat-form-field>
                      </div>

                      <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>

                          <!-- ID Column -->
                          <ng-container matColumnDef="siteid">
                            <mat-header-cell *matHeaderCellDef mat-sort-header > Site ID </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="id" > {{row.siteid}} </mat-cell>
                          </ng-container>

                          <!-- Site Name Column -->
                          <ng-container matColumnDef="sitename">
                            <mat-header-cell *matHeaderCellDef mat-sort-header > Site Name </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="progress" > {{row.sitename}} </mat-cell>
                          </ng-container>

                          <!-- Site Type -->
                          <ng-container matColumnDef="sitetype">
                            <mat-header-cell *matHeaderCellDef mat-sort-header > Site Type </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="progress" > {{row.sitetype}} </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="switchSiteDashboard(row)">
                          </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
                       
                      </div>
                    </div>
                  </div>
                </div>
</div>
<div mat-dialog-actions>
  <button id="cancel" mat-button (click)="onNoClick()">Close</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>

